<div class="full-container" *ngIf="video">
    <!-- Video Area -->
    <div class="video">
        <iframe [src]="video.url" frameborder="0" id="panell" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <!-- Content Area (Sidebar) -->
    <div class="content">
        <!-- Content accordion -->
        <div class="accordion-page" *ngIf="course" >
            <div class="accordion-container">
                <div class="accordion">
                    <div class="accordion-entries">
                        <ng-container *ngFor="let item of accordion; let itemIndex=index">
                            <ng-container *ngFor="let video of videos">
                                <details *ngIf="video.accordion_title && video.section == item" [open]="itemIndex === 0" name="courseAccordion" class="accordion-item">
                                    <summary class="accordion-header">
                                        <span class="header-text">{{ video.accordion_title }}</span>
                                        <svg aria-hidden="true" focusable="false" class="toggle-icon" viewBox="0 0 16 16" width="16" height="16" fill="#a371f7">
                                            <path d="M7.75 2a.75.75 0 0 1 .75.75V7h4.25a.75.75 0 0 1 0 1.5H8.5v4.25a.75.75 0 0 1-1.5 0V8.5H2.75a.75.75 0 0 1 0-1.5H7V2.75A.75.75 0 0 1 7.75 2Z"></path>
                                        </svg>
                                    </summary>
                                    <!-- Content for each section -->
                                    <div class="accordion-content">
                                        <ng-container *ngFor="let contentVideo of videos">
                                            <div *ngIf="contentVideo.section == item" class="content-item">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <div class="video-title" *ngIf="identity.sub && course.buy && course.buy == 1" style="display: flex; align-items: flex-end;">
                                                            <a class="video-title-a" [routerLink]="['/video-detail', contentVideo.id]" style="display: flex; flex-direction: column;">
                                                                <strong>{{ contentVideo.created_at | date:'dd/MM/yyyy' }}</strong>
                                                                <span>{{ contentVideo.title }}</span>
                                                            </a>
                                                            <div style="margin-left: 10px; display: flex; align-items: flex-end;">
                                                                <input type="checkbox" value="0" style="width: 16px; height: 16px; transform: scale(1.2);">
                                                            </div>
                                                        </div>
                                                        <div class="video-title" *ngIf="!identity.sub || !course.buy">{{ contentVideo.title }}</div>
                                                    </div>
                                                    <div class="video-actions" *ngIf="identity && (identity.sub == 1 || identity.role == 'ROLE_ADMIN')">
                                                        <a *ngIf="identity && (identity.sub == 1 || identity.role == 'ROLE_ADMIN')" class="btn btn-admin-action" id="my-edit-button" [routerLink]="['/video-edit', contentVideo.id]" style="padding: 3px 6px;">
                                                            <i class="ti-pencil"></i>
                                                        </a>
                                                        <button *ngIf="identity && (identity.sub == 1 || identity.role == 'ROLE_ADMIN')" type="button" class="btn btn-admin-action" id="my-delete-button" data-bs-toggle="modal" [attr.data-bs-target]="'#deleteVideo' + contentVideo.id" style="padding: 3px 6px;">
                                                            <i class= "ti-trash"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </details>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Comments Area -->
    <div class="comments">
        <div class="comments-buttons" style="display: flex; justify-content: center;">
            <ng-container *ngFor="let comment of comments; let first = first">
                <a *ngIf="first" class="btn btn-button" data-bs-toggle="collapse" data-bs-target="#multiCollapseChat" role="button" aria-expanded="false" (click)="show_chat(comment.id)">
                    Questions and Answers
                </a>
            </ng-container>
            <a class="btn btn-button" data-bs-toggle="collapse" data-bs-target="#multiCollapseDescription" role="button" aria-expanded="false" (click)="show_des()">
                Description
            </a>
        </div>

        <!-- Description -->
        <div *ngIf="course">
            <div class="collapse" id="multiCollapseDescription">
                <div class="card card-body">
                    <p>
                        {{ video.content }}
                    </p>
                </div>
            </div>
        </div>

        <!-- Comments content -->
        <div class="collapse" id="multiCollapseChat">
            <div class="card card-body">
                <div *ngFor="let comment of comments; let index=index" class="card-comment mb-3">
                    <div *ngFor="let user of users; let i=index">
                        <div *ngIf="index == i" style="margin: 20px;">
                            <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                                <a class="profile" style="display: flex; align-items: center;">
                                    <div *ngIf="user && user.image" class="avatar_nav" style="margin-bottom: 10px;">
                                        <img src="{{ url + 'user/avatar/' + user.image }}">
                                    </div>
                                    <span>{{ user.name }} - {{ comment.created_at | date: 'dd/MM/yy'}}</span>
                                </a>
                                <div *ngIf="user_comment && identity && identity.sub == user_comment.id" style="display: flex;">
                                    <a class="btn btn-admin-action" data-bs-toggle="collapse" [attr.data-bs-target]="'#multiCollapseCommentEdit' + comment.id" role="button" (click)="showFormEditComment(comment.id)">
                                        <i class="ti-pencil"></i>
                                    </a>
                                    <button type="button" class="btn btn-admin-action" id="my-delete-button" data-bs-toggle="modal" [attr.data-bs-target]="'#deleteComment' + comment.id">
                                        <i class="ti-trash"></i>
                                    </button>
                                </div>
                            </div>
                            <strong><i class="title-comment">{{ comment.title }}</i></strong>
                            <a data-bs-toggle="collapse" [attr.data-bs-target]="'#responsesCollapse' + comment.id" role="button" aria-expanded="false" style="display: flex; justify-content: flex-end; text-decoration: none; color: inherit;" (click)="showResponses(comment.id)">
                                <i class="bi-twitch">{{ response_cont[index] }}</i>
                            </a>

                            <!-- comment content -->
                            <p>{{comment.comment}}</p>
                            <p *ngIf="comment.image">
                                <a class="image-comment" data-bs-toggle="collapse" [attr.data-bs-target]="'#imageComment' + comment.id" role="button" aria-expanded="false" aria-controls="imageComment" (click)="showImage(comment.id)" style="color: inherit;">
                                    <i class="bi-card-image"></i>
                                </a>
                            </p>
                            <div class="collapse" id="imageComment{{comment.id}}">
                                <div class="card card-body" *ngIf="comment.image">
                                    <img src="{{ url + 'comments/image/' + comment.image }}" class="image-comment">
                                </div>
                            </div>

                            <!-- Comments edit form -->
                            <div class="form-box">
                                <div class="form-value">
                                    <div class="collapse" [attr.id]="'multiCollapseCommentEdit' + comment.id" style="scroll-margin-top: 100px;">
                                        <div class="card card-body">
                                            <div class="form-div" *ngIf="is_edit">
                                                <!-- Comment create form -->
                                                <div class="alert alert-success" *ngIf="status == 'success' && !is_edit">
                                                    <p style="text-align: right;">
                                                        <strong>Comment created successfully!</strong>
                                                    </p>
                                                </div>
                                                <div class="alert alert-success" *ngIf="status == 'success' && is_edit">
                                                    <p style="text-align: right;">
                                                        <strong>Comment updated successfully!</strong>
                                                    </p>
                                                </div>
                                                <form #commentFormEdit="ngForm" (ngSubmit)="onSubmitEditComment(commentFormEdit)">
                                                    <p class="title" *ngIf="status != 'success' && !is_edit">
                                                        Create a new comment.
                                                    </p>
                                                    <p class="title" *ngIf="is_edit">
                                                        Modify your comment.
                                                    </p>
                                                    <div class="form-group4 form-group">
                                                        <input type="text" name="title" #title="ngModel" class="form-control" [(ngModel)]="comment_user.title" required pattern="[A-Za-zÀ-ÿ0-9\s.,!?¡¿;:()'&quot;_\-]{1,40}" maxlength="40">
                                                        <label for="name">Title</label>
                                                        <small *ngIf="!title.valid && title.touched" class="invalid-feedback d-block">
                                                            Comment's title is required (Max.Length 40).
                                                        </small>
                                                    </div>
                                                    <div class="form-group5 form-group" style="border: transparent;">
                                                        <label for="comment" class="description-label">Comment</label>
                                                        <textarea type="text" name="comment" class="form-control" #commentField="ngModel" [froalaEditor]="froala_options" [froalaModel]="comment_user.comment" [(ngModel)]="comment_user.comment" required></textarea>
                                                        <small *ngIf="!commentField.valid && commentField.touched" class="invalid-feedback d-block">
                                                            Comment is required.
                                                        </small>
                                                    </div>
                                                    <div class="form-group6 form-group">
                                                        <div *ngIf="is_edit && comment_user.image != null" class="course-container">
                                                            <p class="course-label" for="image">Image of the comment</p>
                                                            <!-- show the image -->
                                                            <div class="course-image-container">
                                                                <img [src]="url + 'comments/image/' + comment_user.image" class="course-image">
                                                            </div>
                                                        </div>
                                                        <!-- Dropzone -->
                                                        <div class="dropzone-container">
                                                            <ngx-dropzone [multiple]="false" [maxFileSize]="600000000" [accept]="'image/*'" (change)="onSelect($event)">
                                                                <ngx-dropzone-label>
                                                                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <path d="M7 10V9C7 6.23858 9.23858 4 12 4C14.7614 4 17 6.23858 17 9V10C19.2091 10 21 11.7909 21 14C21 15.4806 20.1956 16.8084 19 17.5M7 10C4.79086 10 3 11.7909 3 14C3 15.4806 3.8044 16.8084 5 17.5M7 10C7.43285 10 7.84965 10.0688 8.24006 10.1959M12 12V21M12 12L15 15M12 12L9 15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                    </svg>
                                                                    <p>Browse File to upload!</p>
                                                                </ngx-dropzone-label>
                                                                <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                                                    <ngx-dropzone-label>
                                                                        <svg fill="currentColor" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M15.331 6H8.5v20h15V14.154h-8.169z"></path>
                                                                            <path d="M18.153 6h-.009v5.342H23.5v-.002z"></path>
                                                                        </svg>
                                                                        <span>{{ f.name }} ({{ f.size / 1024 | number:'1.0-2' }} KB)</span>
                                                                    </ngx-dropzone-label>
                                                                </ngx-dropzone-preview>
                                                            </ngx-dropzone>
                
                                                            <!-- File status footer -->
                                                            <div class="file-status-footer">
                                                                <svg class="file-icon" fill="currentColor" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M15.331 6H8.5v20h15V14.154h-8.169z"></path>
                                                                    <path d="M18.153 6h-.009v5.342H23.5v-.002z"></path>
                                                                </svg>
                                                                <p>
                                                                    <span *ngIf="files?.length === 0">Not selected file</span>
                                                                    <span *ngIf="files?.length === 1">{{ files[0].name }}</span>
                                                                    <span *ngIf="files && files.length > 1">{{ files.length }} files selected</span>
                                                                </p>
                                                                <svg class="delete-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" (click)="onRemoveAll()">
                                                                    <path d="M5.16565 10.1534C5.07629 8.99181 5.99473 8 7.15975 8H16.8402C18.0053 8 18.9237 8.9918 18.8344 10.1534L18.142 19.1534C18.0619 20.1954 17.193 21 16.1479 21H7.85206C6.80699 21 5.93811 20.1954 5.85795 19.1534L5.16565 10.1534Z" stroke="currentColor" stroke-width="2"></path>
                                                                    <path d="M19.5 5H4.5" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
                                                                    <path d="M10 3C10 2.44772 10.4477 2 11 2H13C13.5523 2 14 2.44772 14 3V5H10V3Z" stroke="currentColor" stroke-width="2"></path>
                                                                </svg>
                                                            </div>
                
                                                            <div class="upload-status">
                                                                <span *ngIf="!uploading">Upload image</span>
                                                                <span *ngIf="uploading">Uploading...</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <input *ngIf="status != 'success' && !is_edit" type="submit" name="" value="Save" class="btn btn-button2" [disabled]="commentFormEdit.invalid || uploading">
                                                    <input *ngIf="is_edit" type="submit" name="" value="Save Changes" class="btn btn-button2" [disabled]="commentFormEdit.invalid || uploading">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Answers section for this specific comment -->
                            <div class="collapse" id="responsesCollapse{{comment.id}}">
                                <div class="card card-body mt-2">
                                    <div *ngFor="let response of responses; let index2 = index">
                                        <div *ngIf="response.comment_id === comment.id" class="card-comment mb-3" style="padding: 10px;">
                                            <div *ngFor="let user_r of users_responses; let i2 = index">
                                                <div *ngIf="index2 == i2">
                                                    <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                                                        <a class="profile">
                                                            <div *ngIf="user_r && user_r.image" class="avatar_nav"  style="margin-bottom: 10px;">
                                                                <img src="{{ url + 'user/avatar/' + user_r.image }}">
                                                            </div>
                                                            <span class="my-auto">{{ user_r.name }} - {{ response.created_at | date: 'dd/MM/yy'}}</span>
                                                        </a>
                                                        <div *ngIf="users_responses" style="display: flex">
                                                            <div class="" *ngIf="identity && identity.sub == users_responses[index2].id">
                                                                <a class="btn btn-admin-action" data-bs-toggle="collapse" [attr.data-bs-target]="'#multiCollapseResponseEdit' + response.id" role="button" aria-expanded="false" aria-controls="multicollapseResponseEdit" (click)="showFormEditResponse(response.id)">
                                                                    <i class="ti-pencil"></i>
                                                                </a>
                                                                <button type="button" class="btn btn-admin-action" id="my-delete-button" data-bs-toggle="modal" [attr.data-bs-target]="'#deleteResponse' + response.id">
                                                                    <i class="ti-trash"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
    
                                                    <!-- Answer content -->
                                                    <p>{{response.response}}</p>
                                                    <p *ngIf="response.image">
                                                        <a class="image-comment" data-bs-toggle="collapse" [attr.data-bs-target]="'#imageResponse' + response.id" role="button" aria-expanded="false" aria-controls="imageResponse" (click)="showImageResponse(response.id)" style="color: inherit;">
                                                            <i class="bi-card-image"></i>
                                                        </a>
                                                    </p>
                                                    <div class="collapse" id="imageResponse{{response.id}}">
                                                        <div class="card card-body" *ngIf="response.image">
                                                            <img src="{{ url + 'responses/image/' + response.image }}" class="image-comment">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Responses edit form -->
                                    <ng-container *ngFor="let response of responses">
                                        <div class="form-box">
                                            <div class="form-value">
                                                <div class="collapse" [attr.id]="'multiCollapseResponseEdit' + response.id" style="scroll-margin-top: 100px;">
                                                    <div class="card card-body">
                                                        <div class="form-div" *ngIf="is_edit">
                                                            <!-- Comment create form -->
                                                            <div class="alert alert-success" *ngIf="status == 'success' && !is_edit">
                                                                <p style="text-align: right;">
                                                                    <strong>Response created successfully!</strong>
                                                                </p>
                                                            </div>
                                                            <div class="alert alert-success" *ngIf="status == 'success' && is_edit">
                                                                <p style="text-align: right;">
                                                                    <strong>Response updated successfully!</strong>
                                                                </p>
                                                            </div>
                                                            <form #responseEditForm="ngForm" (ngSubmit)="onSubmitEditResponse(responseEditForm)" class="formResponse">
                                                                <p class="title" *ngIf="status != 'success' && !is_edit">
                                                                    Create a new response.
                                                                </p>
                                                                <p class="title" *ngIf="is_edit">
                                                                    Modify your response.
                                                                </p>
                                                                <div class="form-group2 form-group" style="border: transparent;">
                                                                    <label for="response" class="description-label">Response</label>
                                                                    <textarea type="text" name="response" class="form-control" #responseField="ngModel" [froalaEditor]="froala_options" [froalaModel]="response.response" [(ngModel)]="response.response" required></textarea>
                                                                    <small *ngIf="!responseField.valid && responseField.touched" class="invalid-feedback d-block">
                                                                        Response is required.
                                                                    </small>
                                                                </div>
                                                                <div class="form-group3 form-group">
                                                                    <div *ngIf="is_edit && response.image != null" class="course-container">
                                                                        <p class="course-label" for="image">Image of the respose</p>
                                                                        <!-- show the image -->
                                                                        <div class="course-image-container">
                                                                            <img [src]="url + 'responses/image/' + response.image" class="course-image">
                                                                        </div>
                                                                    </div>                                                
                                                                    <!-- Dropzone -->
                                                                    <div class="dropzone-container">
                                                                        <ngx-dropzone [multiple]="false" [maxFileSize]="600000000" [accept]="'image/*'" (change)="onSelect($event)">
                                                                            <ngx-dropzone-label>
                                                                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                    <path d="M7 10V9C7 6.23858 9.23858 4 12 4C14.7614 4 17 6.23858 17 9V10C19.2091 10 21 11.7909 21 14C21 15.4806 20.1956 16.8084 19 17.5M7 10C4.79086 10 3 11.7909 3 14C3 15.4806 3.8044 16.8084 5 17.5M7 10C7.43285 10 7.84965 10.0688 8.24006 10.1959M12 12V21M12 12L15 15M12 12L9 15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                                </svg>
                                                                                <p>Browse File to upload!</p>
                                                                            </ngx-dropzone-label>
                                                                            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                                                                <ngx-dropzone-label>
                                                                                    <svg fill="currentColor" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                                                                        <path d="M15.331 6H8.5v20h15V14.154h-8.169z"></path>
                                                                                        <path d="M18.153 6h-.009v5.342H23.5v-.002z"></path>
                                                                                    </svg>
                                                                                    <span>{{ f.name }} ({{ f.size / 1024 | number:'1.0-2' }} KB)</span>
                                                                                </ngx-dropzone-label>
                                                                            </ngx-dropzone-preview>
                                                                        </ngx-dropzone>
                            
                                                                        <!-- File status footer -->
                                                                        <div class="file-status-footer">
                                                                            <svg class="file-icon" fill="currentColor" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                                                                <path d="M15.331 6H8.5v20h15V14.154h-8.169z"></path>
                                                                                <path d="M18.153 6h-.009v5.342H23.5v-.002z"></path>
                                                                            </svg>
                                                                            <p>
                                                                                <span *ngIf="files?.length === 0">Not selected file</span>
                                                                                <span *ngIf="files?.length === 1">{{ files[0].name }}</span>
                                                                                <span *ngIf="files && files.length > 1">{{ files.length }} files selected</span>
                                                                            </p>
                                                                            <svg class="delete-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" (click)="onRemoveAll()">
                                                                                <path d="M5.16565 10.1534C5.07629 8.99181 5.99473 8 7.15975 8H16.8402C18.0053 8 18.9237 8.9918 18.8344 10.1534L18.142 19.1534C18.0619 20.1954 17.193 21 16.1479 21H7.85206C6.80699 21 5.93811 20.1954 5.85795 19.1534L5.16565 10.1534Z" stroke="currentColor" stroke-width="2"></path>
                                                                                <path d="M19.5 5H4.5" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
                                                                                <path d="M10 3C10 2.44772 10.4477 2 11 2H13C13.5523 2 14 2.44772 14 3V5H10V3Z" stroke="currentColor" stroke-width="2"></path>
                                                                            </svg>
                                                                        </div>
                            
                                                                        <div class="upload-status">
                                                                            <span *ngIf="!uploading">Upload image</span>
                                                                            <span *ngIf="uploading">Uploading...</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                                <input *ngIf="status != 'success' && !is_edit" type="submit" name="" value="Save" class="btn btn-button2" [disabled]="responseEditForm.invalid || uploading">
                                                                <input *ngIf="is_edit" type="submit" name="" value="Save Changes" class="btn btn-button2" [disabled]="responseEditForm.invalid || uploading">
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <!-- Responses form -->
                                    <div class="form-box">
                                        <div class="form-value">
                                            <div class="comment-collapse">
                                                <a class="link-collapse" data-bs-toggle="collapse" [attr.data-bs-target]="'#multiCollapseResponse' + comment.id" role="button" aria-expanded="false" (click)="showFormResponse(comment.id)">
                                                    Make a response for this comment
                                                </a>
                                            </div>
                                            <div class="collapse" [attr.id]="'multiCollapseResponse' + comment.id">
                                                <div class="card card-body">
                                                    <div class="form-div" *ngIf="!is_edit">
                                                        <!-- Comment create form -->
                                                        <div class="alert alert-success" *ngIf="status == 'success' && !is_edit">
                                                            <p style="text-align: right;">
                                                                <strong>Response created successfully!</strong>
                                                            </p>
                                                        </div>
                                                        <div class="alert alert-success" *ngIf="status == 'success' && is_edit">
                                                            <p style="text-align: right;">
                                                                <strong>Response updated successfully!</strong>
                                                            </p>
                                                        </div>
                                                        <form #responseForm="ngForm" (ngSubmit)="onSubmitResponse(responseForm)" class="formResponse">
                                                            <p class="title" *ngIf="status != 'success' && !is_edit">
                                                                Create a new response.
                                                            </p>
                                                            <p class="title" *ngIf="is_edit">
                                                                Modify your response.
                                                            </p>
                                                            <div class="form-group2 form-group" style="border: transparent;">
                                                                <label for="response" class="description-label">Response</label>
                                                                <textarea type="text" name="response" class="form-control" #responseField="ngModel" [froalaEditor]="froala_options" [froalaModel]="responxe.response" [(ngModel)]="responxe.response" required></textarea>
                                                                <small *ngIf="!responseField.valid && responseField.touched" class="invalid-feedback d-block">
                                                                    Response is required.
                                                                </small>
                                                            </div>
                                                            <div class="form-group3 form-group">                                                    
                                                                <!-- Dropzone -->
                                                                <div class="dropzone-container">
                                                                    <ngx-dropzone [multiple]="false" [maxFileSize]="600000000" [accept]="'image/*'" (change)="onSelect($event)">
                                                                        <ngx-dropzone-label>
                                                                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                <path d="M7 10V9C7 6.23858 9.23858 4 12 4C14.7614 4 17 6.23858 17 9V10C19.2091 10 21 11.7909 21 14C21 15.4806 20.1956 16.8084 19 17.5M7 10C4.79086 10 3 11.7909 3 14C3 15.4806 3.8044 16.8084 5 17.5M7 10C7.43285 10 7.84965 10.0688 8.24006 10.1959M12 12V21M12 12L15 15M12 12L9 15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                            </svg>
                                                                            <p>Browse File to upload!</p>
                                                                        </ngx-dropzone-label>
                                                                        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                                                            <ngx-dropzone-label>
                                                                                <svg fill="currentColor" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                                                                    <path d="M15.331 6H8.5v20h15V14.154h-8.169z"></path>
                                                                                    <path d="M18.153 6h-.009v5.342H23.5v-.002z"></path>
                                                                                </svg>
                                                                                <span>{{ f.name }} ({{ f.size / 1024 | number:'1.0-2' }} KB)</span>
                                                                            </ngx-dropzone-label>
                                                                        </ngx-dropzone-preview>
                                                                    </ngx-dropzone>
                        
                                                                    <!-- File status footer -->
                                                                    <div class="file-status-footer">
                                                                        <svg class="file-icon" fill="currentColor" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M15.331 6H8.5v20h15V14.154h-8.169z"></path>
                                                                            <path d="M18.153 6h-.009v5.342H23.5v-.002z"></path>
                                                                        </svg>
                                                                        <p>
                                                                            <span *ngIf="files?.length === 0">Not selected file</span>
                                                                            <span *ngIf="files?.length === 1">{{ files[0].name }}</span>
                                                                            <span *ngIf="files && files.length > 1">{{ files.length }} files selected</span>
                                                                        </p>
                                                                        <svg class="delete-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" (click)="onRemoveAll()">
                                                                            <path d="M5.16565 10.1534C5.07629 8.99181 5.99473 8 7.15975 8H16.8402C18.0053 8 18.9237 8.9918 18.8344 10.1534L18.142 19.1534C18.0619 20.1954 17.193 21 16.1479 21H7.85206C6.80699 21 5.93811 20.1954 5.85795 19.1534L5.16565 10.1534Z" stroke="currentColor" stroke-width="2"></path>
                                                                            <path d="M19.5 5H4.5" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
                                                                            <path d="M10 3C10 2.44772 10.4477 2 11 2H13C13.5523 2 14 2.44772 14 3V5H10V3Z" stroke="currentColor" stroke-width="2"></path>
                                                                        </svg>
                                                                    </div>
                        
                                                                    <div class="upload-status">
                                                                        <span *ngIf="!uploading">Upload image</span>
                                                                        <span *ngIf="uploading">Uploading...</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                            <input *ngIf="status != 'success' && !is_edit" type="submit" name="" value="Save" class="btn btn-button2" [disabled]="responseForm.invalid || uploading">
                                                            <input *ngIf="is_edit" type="submit" name="" value="Save Changes" class="btn btn-button2" [disabled]="responseForm.invalid || uploading">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Comments form -->
                <div class="form-box">
                    <div class="form-value">
                        <div class="comment-collapse">
                            <a class="link-collapse" data-bs-toggle="collapse" [attr.data-bs-target]="'#multiCollapseComment'" role="button" aria-expanded="false" (click)="showForm()">
                                Make a question
                            </a>
                        </div>
                        <div class="collapse" id="multiCollapseComment">
                            <div class="card card-body">
                                <div class="form-div" *ngIf="!is_edit">
                                    <!-- Comment create form -->
                                    <div class="alert alert-success" *ngIf="status == 'success' && !is_edit">
                                        <p style="text-align: right;">
                                            <strong>Comment created successfully!</strong>
                                        </p>
                                    </div>
                                    <div class="alert alert-success" *ngIf="status == 'success' && is_edit">
                                        <p style="text-align: right;">
                                            <strong>Comment updated successfully!</strong>
                                        </p>
                                    </div>
                                    <form #commentForm="ngForm" (ngSubmit)="onSubmit(commentForm)">
                                        <p class="title" *ngIf="status != 'success' && !is_edit">
                                            Create a new comment.
                                        </p>
                                        <p class="title" *ngIf="is_edit">
                                            Modify your comment.
                                        </p>
                                        <div class="form-group4 form-group">
                                            <input type="text" name="title" #title="ngModel" class="form-control" [(ngModel)]="comment.title" required pattern="[A-Za-zÀ-ÿ0-9\s.,!?¡¿;:()'&quot;_\-]{1,40}" maxlength="40">
                                            <label for="name">Title</label>
                                            <small *ngIf="!title.valid && title.touched" class="invalid-feedback d-block">
                                                Comment's title is required (Max.Length 40).
                                            </small>
                                        </div>
                                        <div class="form-group5 form-group" style="border: transparent;">
                                            <label for="comment" class="description-label">Comment</label>
                                            <textarea type="text" name="comment" class="form-control" #commentField="ngModel" [froalaEditor]="froala_options" [froalaModel]="comment.comment" [(ngModel)]="comment.comment" required></textarea>
                                            <small *ngIf="!commentField.valid && commentField.touched" class="invalid-feedback d-block">
                                                Comment is required.
                                            </small>
                                        </div>
                                        <div class="form-group6 form-group">
                                            <!-- Dropzone -->
                                            <div class="dropzone-container">
                                                <ngx-dropzone [multiple]="false" [maxFileSize]="600000000" [accept]="'image/*'" (change)="onSelect($event)">
                                                    <ngx-dropzone-label>
                                                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M7 10V9C7 6.23858 9.23858 4 12 4C14.7614 4 17 6.23858 17 9V10C19.2091 10 21 11.7909 21 14C21 15.4806 20.1956 16.8084 19 17.5M7 10C4.79086 10 3 11.7909 3 14C3 15.4806 3.8044 16.8084 5 17.5M7 10C7.43285 10 7.84965 10.0688 8.24006 10.1959M12 12V21M12 12L15 15M12 12L9 15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        </svg>
                                                        <p>Browse File to upload!</p>
                                                    </ngx-dropzone-label>
                                                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                                        <ngx-dropzone-label>
                                                            <svg fill="currentColor" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M15.331 6H8.5v20h15V14.154h-8.169z"></path>
                                                                <path d="M18.153 6h-.009v5.342H23.5v-.002z"></path>
                                                            </svg>
                                                            <span>{{ f.name }} ({{ f.size / 1024 | number:'1.0-2' }} KB)</span>
                                                        </ngx-dropzone-label>
                                                    </ngx-dropzone-preview>
                                                </ngx-dropzone>
    
                                                <!-- File status footer -->
                                                <div class="file-status-footer">
                                                    <svg class="file-icon" fill="currentColor" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M15.331 6H8.5v20h15V14.154h-8.169z"></path>
                                                        <path d="M18.153 6h-.009v5.342H23.5v-.002z"></path>
                                                    </svg>
                                                    <p>
                                                        <span *ngIf="files?.length === 0">Not selected file</span>
                                                        <span *ngIf="files?.length === 1">{{ files[0].name }}</span>
                                                        <span *ngIf="files && files.length > 1">{{ files.length }} files selected</span>
                                                    </p>
                                                    <svg class="delete-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" (click)="onRemoveAll()">
                                                        <path d="M5.16565 10.1534C5.07629 8.99181 5.99473 8 7.15975 8H16.8402C18.0053 8 18.9237 8.9918 18.8344 10.1534L18.142 19.1534C18.0619 20.1954 17.193 21 16.1479 21H7.85206C6.80699 21 5.93811 20.1954 5.85795 19.1534L5.16565 10.1534Z" stroke="currentColor" stroke-width="2"></path>
                                                        <path d="M19.5 5H4.5" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
                                                        <path d="M10 3C10 2.44772 10.4477 2 11 2H13C13.5523 2 14 2.44772 14 3V5H10V3Z" stroke="currentColor" stroke-width="2"></path>
                                                    </svg>
                                                </div>
    
                                                <div class="upload-status">
                                                    <span *ngIf="!uploading">Upload image</span>
                                                    <span *ngIf="uploading">Uploading...</span>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <input *ngIf="status != 'success' && !is_edit" type="submit" name="" value="Save" class="btn btn-button2" [disabled]="commentForm.invalid || uploading">
                                        <input *ngIf="is_edit" type="submit" name="" value="Save Changes" class="btn btn-button2" [disabled]="commentForm.invalid || uploading">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Video Modal -->
    <ng-container *ngFor="let video of videos">
        <div class="modal fade" [id]="'deleteVideo' + video.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal_title fs-5" id="exampleModalLabel">
                            Are you sure you want to delete this video?
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        You are going to delete the video: {{ video.title }}.
                        <br>
                        This action cannot be undone.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-admin-action" data-bs-dismiss="modal" style="color: black;">
                            Close
                        </button>
                        <button type="button" class="btn btn-admin-action" style="color: black;" (click)="deleteVideo(video.id)">
                            <i class= "ti-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Delete Comment Modal -->
    <ng-container *ngFor="let comment of comments">
        <div class="modal fade" [id]="'deleteComment' + comment.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal_title fs-5" id="exampleModalLabel">
                            Are you sure you want to delete this comment?
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        You are going to delete the comment: <strong>{{ comment.title }}</strong>
                        <br>
                        This action cannot be undone.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-admin-action" data-bs-dismiss="modal" style="color: black;">
                            Close
                        </button>
                        <button type="button" class="btn btn-admin-action" style="color: black;" (click)="deleteComment(comment.id)">
                            <i class= "ti-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Delete Response Modal -->
    <ng-container *ngFor="let response of responses">
        <div class="modal fade" [id]="'deleteResponse' + response.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal_title fs-5" id="exampleModalLabel">
                            Are you sure you want to delete this response?
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        You are going to delete the response.
                        <br>
                        This action cannot be undone.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-admin-action" data-bs-dismiss="modal" style="color: black;">
                            Close
                        </button>
                        <button type="button" class="btn btn-admin-action" style="color: black;" (click)="deleteResponse(response.id)">
                            <i class= "ti-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>