<div class="container">
    <div *ngIf="course" class="row">
        <div *ngIf="is_course == true" class="col">
            <iframe [src]="course.url" frameborder="0" class="w-100" height="500" id="panell" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p [innerHTML]="course.detail"></p>
        </div>
    </div>
    <div class="mb-3">
        <p class="buttons" >
            <a class="btn btn-button" data-bs-toggle="collapse" data-bs-target="#multiCollapseChat" role="button" aria-expanded="false">
                Questions and Answers
            </a>
            <a class="btn btn-button" data-bs-toggle="collapse" data-bs-target="#multiCollapseDescription" role="button" aria-expanded="false" (click)="hide_d()">
                Description
            </a>
            <a class="btn btn-button" data-bs-toggle="collapse" data-bs-target="#multiCollapseContent" role="button" aria-expanded="false" (click)="hide_c()">
                Content
            </a>
            <a *ngIf="identity && (identity.sub == 1 || identity.role == 'ROLE_ADMIN')" class="btn btn-admin-action me-2" id="my-edit-button" [routerLink]="['/course-edit', course.id]">
                <i class="ti-pencil"></i>
            </a>
            <button *ngIf="identity && (identity.sub == 1 || identity.role == 'ROLE_ADMIN')" type="button" class="btn btn-admin-action me-2" id="my-delete-button" data-bs-toggle="modal" [attr.data-bs-target]="'#delete' + course.id">
                <i class= "ti-trash"></i>
            </button>
        </p>

        <!-- Delete Modal -->
        <div class="modal fade" [id]="'delete' + course.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal_title fs-5" id="exampleModalLabel">
                            Are you sure you want to delete this course?
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        You are going to delete the course: {{ course.name }}.
                        <br>
                        This action cannot be undone.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-admin-action" data-bs-dismiss="modal" style="color: black;">
                            Close
                        </button>
                        <button type="button" class="btn btn-admin-action" style="color: black;">
                            <i class= "ti-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Description -->
        <div *ngIf="course">
            <div class="col">
                <div class="collapse" id="multiCollapseDescription">
                    <div class="card card-body">
                        <p>
                            {{ course.detail }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content accordeon with details/summary con estilo oscuro -->
        <div class="col-12 accordion-page" *ngIf="course" id="multiCollapseContent">
            <div class="accordion-container">
                <div class="accordion">
                    <div class="accordion-entries">
                        <!-- Creamos un detalle por cada elemento del acordeón -->
                        <ng-container *ngFor="let item of accordion; let itemIndex=index">
                            <!-- Buscamos el primer video de cada sección para usarlo como título del acordeón -->
                            <ng-container *ngFor="let video of videos">
                                <details *ngIf="video.accordion_title && video.section == item" [open]="itemIndex === 0" name="courseAccordion" class="accordion-item">
                                    <summary class="accordion-header">
                                        <span class="header-text">{{ video.accordion_title }}</span>
                                        <svg aria-hidden="true" focusable="false" class="toggle-icon" viewBox="0 0 16 16" width="16" height="16" fill="#a371f7">
                                            <path d="M7.75 2a.75.75 0 0 1 .75.75V7h4.25a.75.75 0 0 1 0 1.5H8.5v4.25a.75.75 0 0 1-1.5 0V8.5H2.75a.75.75 0 0 1 0-1.5H7V2.75A.75.75 0 0 1 7.75 2Z"></path>
                                        </svg>
                                    </summary>
                                    <!-- Contenido dentro de cada sección -->
                                    <div class="accordion-content">
                                        <ng-container *ngFor="let contentVideo of videos">
                                            <div *ngIf="contentVideo.section == item" class="content-item">
                                                <strong>{{ contentVideo.created_at | date:'dd/MM/yyyy' }}</strong>
                                                <div class="video-title">{{ contentVideo.title }}</div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </details>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>