<div class="container">
    <div class="row">
        <div class="col mt-3">
            <h1>
                {{ title }}
            </h1>
            <hr>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col" *ngFor="let course of courses; let indice=index">
                    <article class="card card_1">
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h3 class="fs-5">
                                    {{ course.name }}
                                </h3>
                            </div>
                            <div class="video-image w-100" *ngIf="course.url && course.url != null">
                                <a href="">
                                    <img [src]="getThumbnail(course.url,'maxresdefault')" height="180px" class="w-100">
                                </a>
                            </div>
                            <div class="video-image w-100" *ngIf="!course.url || course.url == null">
                                <a href="">
                                    <img src="images/novideo.jpg" height="180px" class="w-100">
                                </a>
                            </div>
                            <!-- Buttons if you are the admin -->
                            <div class="video-buttons mt-3">
                                <span *ngIf="identity && (identity.sub == 1 || identity.role == 'ROLE_ADMIN')">
                                    <a class="btn btn-dark mr-2 button" id="my-edit-button">
                                        Create Video
                                    </a>
                                    <a class="btn btn-dark mr-2 button" id="my-edit-button">
                                        Edit
                                    </a>
                                    <button type="button" class="btn btn-dark button" id="my-delete-button" data-bs-toggle="modal" [attr.data-bs-target]="'#delete' + course.id">
                                        Delete
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" [id]="'delete' + course.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                        Are you sure you want to delete this course?
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    You are going to delete the course: {{ course.name }}.
                                                    <br>
                                                    This action cannot be undone.
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button type="button" class="btn btn-danger">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                                <!-- Detail form -->
                                <form #cartForm="ngForm">
                                    <button type="button" class="btn btn-dark ml-2 button" id="my-detail-button" data-bs-toggle="modal" [attr.data-bs-target]="'#detail' + course.id">
                                        Detail
                                    </button>
                                    <span>
                                        {{ ' $' + course.current_price }}
                                    </span>
                                    <!-- Modal -->
                                    <div class="modal fade" [id]="'detail' + course.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                        {{ course.name }}
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    {{ course.detail }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
                                                        Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Add to cart -->
                                    <input type="hidden" name="course_id" value="course.id" #name="ngModel" [(ngModel)]="course.id">
                                    <!-- If you have not bought it yet -->
                                    <button *ngIf="course.buy != 1 && course.cart != 1" type="submit" name="" id="my-cart-button" value="Buy it" [disabled]="cartForm.invalid" class="btn btn-default ml-2 button" style="font-size: 20px; color: black;">
                                        <i class="ti-shopping-cart"></i>
                                    </button>
                                    <!-- If you already bought it -->
                                     <a *ngIf="course.buy == 1" class="btn btn-dark ml-2 button" id="my-detail-button">
                                        Go to course
                                    </a>
                                </form>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>